.form {
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;

  /* background-color: red; */
}

.form label,
.form input,
.form textarea {
    display: block;
    width: 100%;
    background-color: #fcfcfc;
}

.form input,
.form textarea {
  font: inherit;
  margin: 0.5rem 0rem;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid black;
}

.actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
}

.actions button{
  color: #f9fff7;
  background-color: #111;
  border: none;
  padding: 0.5rem 0.75rem;
}

button:hover {
  color: #2a2a2a;
  background-color: #fcfcfc;
  border: 2px solid #2a2a2a;
}

@media (max-width: 670px) {
  .form{
    width: 80%;
  }
}