.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.heroText {
    display: flex;
    justify-content: space-between;
    margin-top:  2rem;
    text-transform: uppercase;
    border: none;
    border-bottom: 2px solid;
}

.name a {
    text-decoration: none;
}

.name a:hover{
    text-decoration: line-through;
}

.name a:visited {
    color: inherit;
}

@media (max-width: 870px) {
    .image{
        width:100%;
    }
}